:host {
  display: block;
}

.container {
  padding-top: 10rem;
  max-width: 100%;
  padding-bottom: 5rem;
}


.fade {
  animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  60% { opacity: 1; }
  100% { opacity: 0; }
}
