<div class="flex pb-40">
  <section class="w-full relative">
    <div class="absolute top-0 left-0 w-full mt-10 flex justify-between items-center px-8 z-20">

      <nav class="flex space-x-4">
        <a routerLink="/" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link" class="text-black font-bold text-lg px-4 py-2 rounded-full 
         bg-white/70 border-2 border-transparent shadow-md 
         hover:bg-white transition-all duration-200">Accueil</a>
        <a routerLink="/apropos" routerLinkActive="active-link" class="text-black font-bold text-lg px-4 py-2 rounded-full 
         bg-white/70 border-2 border-transparent shadow-md 
         hover:bg-white transition-all duration-200">A propos</a>
        <a routerLink="/produits" routerLinkActive="active-link" class="text-black font-bold text-lg px-4 py-2 rounded-full 
         bg-white/70 border-2 border-transparent shadow-md 
         hover:bg-white transition-all duration-200"> Produits</a>
        <a routerLink="/categories" routerLinkActive="active-link" class="text-black font-bold text-lg px-4 py-2 rounded-full 
         bg-white/70 border-2 border-transparent shadow-md 
         hover:bg-white transition-all duration-200">Tissus</a>
        <a routerLink="/contact" routerLinkActive="active-link" class="text-black font-bold text-lg px-4 py-2 rounded-full 
         bg-white/70 border-2 border-transparent shadow-md 
         hover:bg-white transition-all duration-200">Contact</a>
      </nav>

      <div class="flex space-x-4">

        <!-- PANIER -->
        <button routerLink="/panier"
          class="flex items-center bg-pink-500 text-white px-4 py-2 rounded-full shadow-lg hover:bg-pink-600 transition">
          <svg class="w-6 h-6 mr-2" fill="none" stroke="currentColor" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2 9h12l-2-9M17 13l2 9M9 21a1 1 0 11-2 0 1 1 0 012 0zm10 0a1 1 0 11-2 0 1 1 0 012 0z" />
          </svg>
          Panier
        </button>

        <ng-container *ngIf="auth.isConnected; else loggedOut">
          <button routerLink="/profil"
            class="bg-pink-500 text-white px-4 py-2 rounded-full shadow-lg hover:bg-pink-600 transition">
              <img src="assets/images/user-profile.png" alt="Mon compte" class="w-5 h-5">
            <!-- Mon compte -->
          </button>

          <button (click)="logout()"
            class="bg-pink-200 px-4 py-2 rounded-full shadow-lg hover:bg-pink-600 transition">
              <img src="assets/images/power-off.png" alt="déconnexion" class="w-7 h-7">
          </button>
        </ng-container>

        <!-- SI NON CONNECTÉ -->
        <ng-template #loggedOut>
          <button routerLink="/login"
            class="bg-pink-500 text-white font-bold px-4 py-2 rounded-full shadow-lg hover:bg-pink-600 transition">
            Connexion
          </button>
        </ng-template>

      </div>
    </div>
  </section>
</div>