:host {
display: block;
}

input:focus {
outline: none;
}

.fade {
animation: fadeOut 1.5s forwards;
}

@keyframes fadeOut {
0% { opacity: 1; }
60% { opacity: 0.5; }
100% { opacity: 0; }
}

.container {
  padding-top: 10rem;
  max-width: 100%;
  padding-bottom: 5rem;
}