<div class="bg-gradient-to-br from-[#FAF3E7] via-[#F3E5D0] to-[#E8D5C4] flex flex-col">
  <app-carousel></app-carousel>
  <section class="flex flex-col items-center justify-center text-center px-4">
    <h2 class="text-5xl font-extrabold text-[#A6563F] mb-4">
      Découvrez nos tissus de qualité
    </h2>

    <div class="marquee-container" (click)="goToMaterial()">
      <div class="marquee">
        <span *ngFor="let mat of materials">
          {{ mat.name }}
        </span>
      </div>
    </div>

    <p class="text-[#6B4226] mb-8 max-w-xl">
      Des tissus soigneusement sélectionnés pour vos créations.
    </p>
    <button
      class="bg-[#E8B89C] hover:bg-[#A6563F] text-white font-bold py-3 px-6 rounded-lg shadow-lg transform hover:scale-105 transition duration-300">
      Voir nos tissus
    </button>
  </section>

  <section class="px-6 py-20">
    <h3 class="text-4xl font-bold text-center text-[#A6563F] mb-12">Les nouveautés</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:rotate-1 transition duration-500">
        <img src="assets/images/tissu-coton.webp" alt="Tissu 1" class="rounded-xl mb-4 shadow-md w-50">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en lin</h4>
        <p class="text-[#333]">Un tissu naturel et léger parfait pour vos créations estivales.</p>
      </div>

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:-rotate-1 transition duration-500">
        <img src="assets/images/tissu-lin.webp" alt="Tissu 2" class="rounded-xl mb-4 shadow-md">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en coton</h4>
        <p class="text-[#333]">Douceur et confort, idéal pour vêtements et accessoires.</p>
      </div>

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:rotate-2 transition duration-500">
        <img src="assets/images/tissu-matelasse.jpg" alt="Tissu 3" class="rounded-xl mb-4 shadow-md">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en soie</h4>
        <p class="text-[#333]">Luxueux et élégant, pour des créations raffinées.</p>
      </div>

    </div>
  </section>
  <p class="text-[#6B4226] text-center mb-8 max-w-xl">
    Des tissus soigneusement sélectionnés pour vos créations.
    Des tissus soigneusement sélectionnés pour vos créations.
    Des tissus soigneusement sélectionnés pour vos créations.
    Des tissus soigneusement sélectionnés pour vos créations.
    Des tissus soigneusement sélectionnés pour vos créations.
    Des tissus soigneusement sélectionnés pour vos créations.
  </p>
  <section class="px-6 py-20">
    <h3 class="text-4xl font-bold text-center text-[#A6563F] mb-12">Nos catégories</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:rotate-1 transition duration-500">
        <img src="assets/images/tissu-jersey.jpg" alt="Tissu 1" class="rounded-xl mb-4 shadow-md">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en lin</h4>
        <p class="text-[#333]">Un tissu naturel et léger parfait pour vos créations estivales.</p>
      </div>

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:-rotate-1 transition duration-500">
        <img src="assets/images/tissu-matelasse.jpg" alt="Tissu 2" class="rounded-xl mb-4 shadow-md">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en coton</h4>
        <p class="text-[#333]">Douceur et confort, idéal pour vêtements et accessoires.</p>
      </div>

      <div
        class="bg-white rounded-2xl shadow-2xl p-6 transform hover:-translate-y-4 hover:rotate-2 transition duration-500">
        <img src="assets/images/tissu-coton.webp" alt="Tissu 3" class="rounded-xl mb-4 shadow-md">
        <h4 class="text-2xl font-semibold text-[#6B4226] mb-2">Tissu en soie</h4>
        <p class="text-[#333]">Luxueux et élégant, pour des créations raffinées.</p>
      </div>

    </div>
  </section>
</div>